html {
  background-color: #0a0a0a;
  font-size: 16px;
}
body {
  font-size: 1rem;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
h1 {
  color: #2b2929;
}
h2 {
  color: #000000;
  margin: 0.5rem;
  font-size: 1.75rem;
}
h3 {
  color: #4203f4;
  font-size: 5rem;
}
h4 {
  color: #365baa;
}

ul {
  display: block;
  border: 0 none;
  list-style-type: none;
  padding: 0;
}

ul > li > a {
  display: block;
  padding: 0.5rem;
}

.display-block {
  display: block;
}

.left-navigation {
  width: 17rem;
}

.top-links {
  background-color: black;
}
.top-links > li > a {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  color: #d5e8e2;
  
}

.middle-links {
  background-color: #ff6161;
  margin-left: 2rem;
}
.middle-links > li > a {
  color: #000000;
  font-size: 0.9rem;
  padding: 0.75rem 0.5rem 0.1rem 0.75rem;
  text-decoration: underline;
}

.bottom-links {
  background-color: #191919;
}
.bottom-links > li > a {
  color: #946a6a;
}

.bg-black {
  background-color: black;
}
.white a, .white {
  color: #fffefe;
}

a {
  text-decoration: none;
  color: #4203f4;
}

.content {
  position: absolute;
  top: 2.75rem;
  left: 17.1rem;
  font-size: 0.9rem;
  line-height: 1.25;
  display: block;
  white-space: pre;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: white;
}

.content > code {
  color: brown;
}

