body {
  font-size: 1rem;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1;
  margin: 0;
}

code {
  font-size: 1.2rem;
  color: brown;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
h1 {
  padding: 0.5rem 0 1rem 1rem;
  color: #d4d4d4;
  font-weight: normal;
  font-size: 2rem;
  background-color: black;
}
h2 {
  color: #000000;
  font-size: 1.8rem;
  margin-top: 1.5rem;
}
h3 {
  color: #4203f4;
  font-size: 1.75rem;
}
h4 {
  color: #365baa;
  font-size: 1.5rem;
}

.navcontainer {
  margin-bottom: 1.5rem;
}

.tools {
  width: 300px;
  display: block;
}

.patterns {
  background-color: #e91e63;
}

.fav {
  background-color: #9e9e9e;
}

.site {
  background-color: black
}

.libs {
  background-color: midnightblue;
}
.bg-black {
  background-color: black;
}
.white a, .white {
  color: #fffefe;
}
ul {
  display: block;
  border: 0 none;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: #4203f4;
}

.content {
  position: absolute;
  top: 3.5rem;
  left: 19.5rem;
  display: block;
  white-space: pre;
}
